<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
  <title>To Do List sample app</title>
</head>
<body>
  <h1>User Detail</h1>
  <div class="page">
    <form action="{{ url_for('mod_user', user_id=target_user.id) }}" method="post">
      <dl class="show_user">
        <dt>ID</dt>
        <dd>{{ target_user.id }}</dd>
        <dt>Name</dt>
        <dd><input type="text" size="30" name="username" value="{{ target_user.username }}"></dd>
      </dl>
      <input type="submit" value="submit">
    </form>
    <a href="{{ url_for('hello') }}">Back</a>

    <!-- 削除フォーム -->
    <form action="{{ url_for('del_user', user_id=target_user.id) }}" class="del-form" method="POST">
      <input type="submit" value="Delete">
    </form>
  </div>
</body>
