<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
  <title>To Do List sample app</title>
</head>
<body>
  <h1>ToDo List</h1>
  <p>you can register</p>
  <div class="page">
    <ul class="users">
    {% for user in user_list %}
      <li>
        <a href="{{ url_for('show_user', user_id=user.id) }}">
          Detail
        </a>
        Hello {{ user.username}}!
      </li>
    {% endfor %}
    </ul>

    <form action="{{ url_for('add_user')}}" method="POST" class="add_user">
      <label for="username">Name:</label>
      <input type="text" size="30" id="username" name="username">
      <input type="submit" value="Add">
    </form>
  </div>
</body>
</html>