{% extends 'layout.html' %}
{% block content %}
  <h1>{{ title }}</h1>

  <form action="{{ url_for('mod_todo', todo_id=target_todo.id) }}" method="post" class="form-horizontal">
    <div class="form-group">
      <label for="todo_id" class="col-sm-2 control-label">ID</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="todo_id" value="{{ target_todo.id }}" disabled>
      </div>
    </div>

    <div class="form-group">
      <label for="todotext" class="col-sm-2 control-label">Todo内容</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="todotext" name="todotext" value="{{ target_todo.todotext }}">
      </div>
      <label for="todotext" class="col-sm-2 control-label">phase</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="phase" name="phase" value="{{ target_todo.phase }}">
      </div>
      <label for="test_url" class="col-sm-2 control-label">テスト環境</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="test_url"" name="test_url" value="{{ target_todo.test_url }}">
      </div>
      <label for="product_url" class="col-sm-2 control-label">本番環境</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="product_url"" name="product_url" value="{{ target_todo.product_url }}">
      </div>

    </div>
    
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-primary">
          <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> 変更
        </button>
      </div>
    </div>
  </form>
  <a href="{{ url_for('top') }}" class="btn btn-default">
    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> 戻る
  </a>
  
  <form action="{{ url_for('del_todo', todo_id=target_todo.id) }}" method="POST" class="text-right">
    <button type="submit" class="btn btn-danger">
      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> 削除
    </button>
  </form>
  
{% endblock %}